@font-face {
    font-family: 'QuickSand';
    src: url( '/fonts/Quicksand_Book.otf' );
}

footer {
    color: white;
}

body {
    /* importar background svg */
    background-image: url("/svg/bg-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.tasks-section {
    width: 50%;
    height: 90%;
    padding: 15px;
    margin: 0px;

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tasks-list {
    height: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.task { 
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.checkbox {
    margin-right: 10px;
}

.priority-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;

    background-color: red;

    box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

}

 .time { /* Hora principal en pantalla */
    margin: 0px;
    padding: 0px;

    /* Fancy font */
    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);

    font-size: 125px;
    font-weight: bold;
    color: white;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.time-abr {
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;

    font-size: 30px;
    font-weight: bold;
    color: white;

    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);

}

.date { /* Fecha principal en pantalla */
    margin: 0px;
    padding: 0px;

    font-size: 30px;
    font-weight: bold;
    color: white;

    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}