@font-face {
    font-family: 'QuickSand';
    src: url( '/fonts/Quicksand_Book.otf' );
}

@font-face {
    font-family: 'QuickSand Bold';
    src: url( '/fonts/Quicksand_Bold.otf' );
    font-weight: bold;
}

@font-face {
    font-family: 'QuickSand Light';
    src: url( '/fonts/Quicksand_Light.otf' );
    font-weight: lighter;
}

footer {
    color: white;
}

body {
    /* importar background svg */
    background-image: url("/svg/bg-white-01.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* importar font */
    font-family: 'Quicksand', sans-serif;

    /* Sin scrollbar */
    overflow: inherit;

}

h1 {
    font-family: 'Quicksand Bold', sans-serif;
}

::-webkit-scrollbar {
    width: 1px;
}

.time { /* Hora principal en pantalla */
    margin: 0px;
    padding: 0px;

    /* Fancy font */
    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);

    font-size: 165px;
    font-weight: bold;
    color: white;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.time-abr {
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;

    font-size: 50px;
    font-weight: bold;
    color: white;

    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);

}

.date { /* Fecha principal en pantalla */
    margin: 0px;
    padding: 0px;

    font-size: 30px;
    font-weight: bold;
    color: white;

    font-family: 'Quicksand', sans-serif;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.tasks-section {
    width: 50%;
    height: 90%;
    padding: 25px;
    margin: 0px;

    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );

    color: white;
}

.tasks-list {
    height: 100%;
    list-style: none;
    padding: 0;
    overflow-y: auto;
}

.tasks-list::-webkit-scrollbar {
    width: 10px;
}

.tasks-list::-webkit-scrollbar-thumb {
    border-radius: 6px;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
}

.tasks-list::-webkit-scrollbar-track {
    border-radius: 6px;

    background-color: #f1f1f148;
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px ); 
}

.task { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    background: rgba( 255, 255, 255, 0.25 );

    user-select: none;
}

.checkbox {
    margin-right: 10px;
}

.priority-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;

    box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.priority-1 {
    background-color: #ff0000d7;
}

.priority-2 {
    background-color: #FFA500;
}

.priority-3 {
    background-color: #21b902c4;
}

.task-form {
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 20px;

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px ); 

    user-select: none;
}

.task-form input {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    background: rgba( 255, 255, 255, 0.25 );

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;

    border: none;
    outline: none;
}

.task-form input::placeholder {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.task-form button {
    width: 100px;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    background: rgba( 255, 255, 255, 0.25 );

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;

    border: none;
    outline: none;
}

.task-form button:hover {
    cursor: pointer;
}

.task-form button:active {
    transform: scale(0.95);
}

.task-form button:focus {
    outline: none;
}

.task-form button:disabled {
    background: rgba( 255, 255, 255, 0.1 );
    color: rgba( 255, 255, 255, 0.5 );
}

.task-form button:disabled:hover {
    cursor: not-allowed;
}

.task-form button:disabled:active {
    transform: scale(1);
}

.task-form button:disabled:focus {
    outline: none;
}

.task-form button:enabled {
    background: rgba( 255, 255, 255, 0.25 );
    color: white;
}

.task-form button:enabled:hover {
    cursor: pointer;
}

dialog {
    background-color: transparent;
    border: none;
}

