<!-- Menu contextual para las tareas -->

<div class="cm-wrapper">
    <div class="cm-content">
        <ul class="cm-menu">
            <li class="cm-item">
                <span id="btnEditTask">Editar</span>
            </li>
            <li class="cm-item">
                <span id="btnDeleteTask">Eliminar</span>
            </li>
        </ul>
    </div>
</div>