<div class="mt-3 mb-3 search-bar" id="search-bar" hidden>
    <div class="mw-100">

        <input type="text" id="title-search" class="search-bar" placeholder="Titulo" >
        <input type="text" id="category-search" placeholder="Categoria">


        <button id="btnSearch" class="menu-button">
            <i class="bi bi-search"></i>
            <span>Buscar</span>
        </button>
    </div>

    <div class="mw-100">
        <span>Filtrar por: </span>

        <select name="task-filter-status" id="status-search">
            <option value="all" disabled selected>Estado</option>
            <option value="all">Todas</option> 
            <option value="pending">Pendientes</option> 
            <option value="completed">Completadas</option>
        </select>
    
        <select name="task-filter-priority" id="priority-search">
            <option value="all" disabled selected>Prioridad</option>
            <option value="all">Todas</option>
            <option value="priority-1">Alta</option> 
            <option value="priority-2">Normal</option> 
            <option value="priority-3">Baja</option>
        </select>
    
        <select name="task-filter-daysLeft" id="date-search">
            <option value="all" disabled selected>Fecha</option>
            <option value="all">Todas</option> 
            <option value="today">Hoy</option> 
            <option value="week">Esta semana</option>
            <option value="month">Este mes</option>
        </select>
    </div>


    <span>
        Proximos
        <input type="number" id="daysLeft-search" style="width: fit-content; max-width: 35px;">
        dias
    </span>


</div>

